header{
    text-align: center;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 5em;
    text-align: center;
}

nav ul li a{
    color:#d67747;
    text-decoration: none;
    padding: 17px 16px;
    text-align: center;
  
}

nav ul li a:hover{
    background-color: aliceblue;
    color:black
}

h1{
    text-align: center;
    color: #a87008;
}

main, header{
    background-color: #e8cfc1;
}
.current{
    background-color: #d67747;
    color: black;
}
.top{
    background-color: #e8cfc1;
    overflow: hidden;
}

#python_img{
    float: right;
    height: auto;
    width: 20%;
    display: block;
   
}

#python_img img{
    height: auto;
    width: 100%;
}


