a{
    text-decoration: none;
    
}

#html_img{
    float: right;
    height: auto;
    width: 30%;
    display: block;
   
}

#html_img img{
    height: auto;
    width: 100%;
}

figcaption{
    font-size: 12px;
}


a[target="_blank"]{
    color: brown;
} 

p::first-letter{
    color: brown;
    font-size: 25px;
    text-decoration: wavy;
}