header{
    text-align: center;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 5em;
    text-align: center;
}

nav ul li a{
    color:#d67747;
    text-decoration: none;
    padding: 17px 16px;
    text-align: center;
  
}

nav ul li a:hover{
    background-color: #e8cfc1;
    color:black
}
h1{
    text-align: center; 
    color: #a87008;
}

main, header, footer{
    background-color: #cbc2bd;
}
.current{
    background-color: #d67747;
    color: black;
}
.top{
    background-color: #cbc2bd;
    overflow: hidden;
}

table{
    width: 85%;
    margin: 85px;
    border-collapse: collapse;                                                                  /*https://stackoverflow.com/questions/25062004/why-does-my-html-table-have-two-borders */
    border: 2px solid;
    
}

tr, td{                                                                                         /*https://wiki.whatwg.org/wiki/Presentational_elements_and_attributes*/
    border: 1px;
    border-style: solid;
}


tr:nth-child(odd){                                                                              /*https://www.geeksforgeeks.org/how-to-create-a-zebra-striped-table-with-css/*/
    background-color: lightgray;
}


article{
    padding: 20px;
    margin-left: 20px;
    margin-right: auto;
}

div{
    padding: 20px;
    margin-left: 20px;
    margin-right: auto;
}

a[target="_blank"], a{
    color: #a87008;
    text-decoration: none;
}

#copyright{
    font-weight: bold;
}